<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <title>Document</title>
</head>
<body>
    <%- include('_header'); %>
    <h1>Codeial | HomePage | <%=  title %></h1>
    <p><%= profile_user.name %></p>
    <p> <%=  profile_user.email %> </p>


    <% if(user.id == profile_user.id) { %>

        <form action="/users/update/<%= profile_user.id %>" method="post">

            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your mail id" value="<%= profile_user.email %>" required>
            <input type="submit" value="Update">
        </form>


    <% }else{ %>
        <p><%= profile_user.name %></p>
        <p> <%=  profile_user.email %> </p>    
    <% } %>

</body>
</html>